@import "icons";
@import "colors";
@import "variables";
@import "text";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100vh;
  background: var(--surface);
}

